body {
    background: #83c5be;
  }
  hr {
    width: 200px;
    margin-left: -20px;
    border: 2px solid black;
  }
  input[type="text"] {
    font-family: "Roboto Condensed", sans-serif;
    margin-left: -100px;
    width: 200px;
  }
  form {
    display: flex;
    margin-top: 50px;
    margin-left: 220px;
  }
  button[type="submit"] {
    font-family: "Roboto Condensed", sans-serif;
    width: 80px;
    margin-top: 45px;
    border-radius: 30px;
  }
  li {
    list-style: none;
  }
  li:first-letter {
    text-transform: capitalize;
  }
  a:link {
    color: #006466;
  }
  a:visited {
    color: #006466;
  }
  a:active {
    color: #006466;
  }

  .units {
    font-size: 40px;
    font-weight: lighter;
  }
  .degree {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: -30px;
    margin-left: 100px;
  }
  .heading {
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 40px;
    margin-left: 100px;
  }
  .dark-theme {
    width: 50px;
    float: left;
    margin-top: 50px;
    margin-left: 10px;
  }
  .dark-theme:hover {
    cursor: pointer;
    transform: scale(1.5);
    transform: rotateZ(180deg);
    transition: .5s ease-in-out;
  }
  .light-theme {
    width: 50px;
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    transform: rotateZ(180deg);
  }
  .light-theme:hover {
    cursor: pointer;
    transform: scale(1.5);
    transform: rotateZ(0deg);
    transition: .5s ease-in-out;
  }
  .units.light a:not(.active) {
    color: #006466;
    }
  .units.dark a:not(.active) {
    color: #83c5be;
    }
  .temperatures {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    background: #006d77;
    margin-top: 150px;
    padding: 80px;
  }
  .temp-icons {
    width: 80px;
  }
  .weather-temperature .active {
    color: black;
    cursor: default;
  }
  #icon {
    width: 400px;
    margin-left: 50px;
  }
  #celsius-link {
    text-decoration: none;
    font-size: 40px;
    font-weight: lighter;
  }
  #fahrenheit-link {
    text-decoration: none;
    font-size: 40px;
    font-weight: lighter;
  }
  #date,
  #time,
  #description {
    margin-left: -35px;
    font-size: 30px;
  }
  #city {
    font-size: 30px;
  }
  #climate {
    float: right;
    margin-right: -700px;
    margin-top: -100px;
    font-size: 20px;
  }